/* Reset dasar untuk menghindari margin dan padding default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styling untuk navbar */
  .navbar {
    background-color: #6b0065;
    padding: 15px 0;
    text-align: center;
  }
  
  .navbar .home-link {
    color: #fff;
    background-color: #b000b0;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
    border-radius: 5px;
    padding: 10px;
  }
  
  .navbar .home-link:hover {
    color: #f39bff;
   
  }
  
  /* Styling untuk kontainer gambar */
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    height: 100vh;
    overflow-y: scroll; /* Menambahkan scroll vertikal */
  }
  
  .scroll-image {
    width: 70%; /* Menentukan lebar gambar */
    height: auto; /* Menjaga proporsi gambar */
    border-radius: 10px;
    transition: transform 0.5s ease; /* Animasi gambar */
  }
  
  /* Efek inovatif ketika gambar di-scroll */
  .scroll-image:hover {
    transform: scale(1.1); /* Membesarkan gambar saat hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan saat gambar diperbesar */
  }
  
  /* Menambahkan efek parallax pada scroll gambar */
  .image-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .image-container::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
  }
  
  .image-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  